.filter-tag
  display: flex
  flex-flow: row nowrap
  width: 38rem
  font-family: 'Catamaran Regular', sans-serif

  > .title
      margin-top: .7rem
      font-size: 1.5rem
      color: #8ca4ae

  > .tag
      height: 2.5rem
      padding: 0rem .6rem
      margin: .8rem 0rem 0rem .6rem
      text-decoration: none
      text-align: center
      font-size: 1.4rem
      color: $color-secondary
      background: $color-third
      border-radius: .4rem
      border: solid 1px $color-primary
      cursor: pointer
      outline: none

  > .active
      background: $color-primary
      color: $color-third

  > .clear
      display: block
      margin: 1rem 0rem 0rem 1rem
      font-size: 1.2rem
      font-weight: bold
      color: $color-secondary
      text-decoration: none
      cursor: pointer
      background: $color-third
      border: none
      outline: none