.wrapper-input
  display: flex
  flex-direction: column

  > .error
     margin-bottom: 3rem
     display: inline-block
     font-size: 1.2rem
     color: #EF5648

  > label
    color: $color-primary
