.form-link
  padding: 4rem
  width: 40rem
  height: 100vh

.input-label,
.select-label
  display: block
  margin-top: 1rem
  font-family: $font-primary
  font-size: $font-medium
  color: $color-primary
