.form-link
  padding: 4rem
  width: 40rem
  height: 100vh

.input-label,
.select-label
  display: block
  margin-top: 1rem
  font-family: $font-primary
  font-size: $font-medium
  color: $color-primary

.form-input
  margin-bottom: 2rem
  padding: .8rem
  width: 32rem
  border: none
  border-bottom: solid 1px $color-fourth
  color: $color-grey
  @include placeholder()
  
  &:focus
    outline: none
