%favor-share
  position: absolute
  bottom: .6rem

%edit-remove
  position: absolute
  bottom: .6rem
  padding-top: .2rem
  width: 3.2rem
  height: 3rem
  border: solid 1px $color-fourth
  border-radius: 50%
  text-decoration: none

.card-list
  display: inline-flex
  position: relative
  padding: 1rem
  margin: .4rem
  width: 24rem
  height: 22rem
  text-align: center
  font-family: 'Catamaran Regular', sans-serif
  color: $color-secondary
  background: $color-third
  border-radius: 1rem
  box-shadow: 0rem 0.3rem 1.2rem #dddddd

  > .category
    width: 8rem
    height: 9.8rem
    background: #f8f8f8

  > .content
    width: 30rem
    height: 100%

    > .icon
        margin-top: 2rem
        text-align: center

    > .description
        width: 100%
        max-height: 5rem
        overflow: hidden
        padding-left: 1rem
        padding-right: 1rem

        > .title
            display: block
            padding-top: 1rem
            margin-left: 1rem
            font-size: 1.6rem
            font-weight: bold
            word-break: break-all
            color: $color-secondary

        > .url
            display: block
            word-break: break-all
            color: $color-primary

    > .actions
        display: flex
        flex-direction: row
        position: relative
        width: 100%
        height: 4rem
        margin-top: 4.4rem
        border: solid 0px red

        > .favor
            @extend %favor-share
            left: 3rem

        > .share
            @extend %favor-share
            left: 1rem

        > .edit
            @extend %edit-remove
            right: 4rem

        > .delete
            @extend %edit-remove
            right: 0rem
