// Main color pallete
$color-primary: #02ccba
$color-secondary: #8ca4ae
$color-third: #ffffff
$color-fourth: #e9e7e7
$color-grey: #9bb0b9

$color-placeholder: #d3d7d8
$hover-menu-sidebar: #2eaca0
$search-icon: #e7e7e7
$shadow: #dddddd
