@import url('https://fonts.googleapis.com/css?family=Handlee')

.sidebar
  position: relative
  padding-top: 2rem
  background: linear-gradient(135deg,#02ccba 0%,#51A36A 100%)
  position: fixed
  left: 0
  top: 0
  width: 16rem
  height: 100%
  text-align: center

.logo
  text-decoration: none

  > h1
    font-family: 'Handlee', cursive
    font-size: 2.5rem
    color: $color-third
    letter-spacing: .6rem

.wrapper-fileupload
  position: absolute
  top: 16rem
  left: 10rem
  z-index: 999